.buttonAddAsset{
    font-size: 0.825rem;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: transparent;
    color: rgb(39, 174, 96);
    border: 1px solid rgb(39, 174, 96);
    width: fit-content;
    justify-self: flex-end;
    text-transform: uppercase;
}