.cryptoName {
    font-weight: bold;
}

.cryptoDetails {
    text-align: left;
}

.crossIcon {
    width: 15px;
}

.crossCol {
    align-content: center;
}

.buttonModify:hover {
    color: violet;
}


.loss{
    color: rgba(255, 34, 27, 0.712);
}

.gain{
    color:rgba(78, 255, 55, 0.733);
}