.cryptoName {
    font-weight: bold;
    font-size: 0.9vw;
}

.cryptoDetails {
    text-align: left;
    font-size: 0.8vw;
}


@media screen and (max-width: 600px) {
    .cryptoDetails {
        font-size: 3vw;
    }
  }

.crossIcon {
    width: 15px;
}

.crossCol {
    align-content: center;
}

.buttonModify:hover {
    color: violet;
}


.loss{
    color: rgba(255, 34, 27, 0.712);
}

.gain{
    color:rgba(78, 255, 55, 0.733);
}