:root {
    --text-color: white;
    --background-color: rgba(45, 52, 56, 0.678);
    --shadow-color: rgba(27, 20, 31, 0.719);
    --border-color: rgba(61, 61, 65, 0.507);
    --loss-color: rgba(255, 34, 27, 0.712);
    --gain-color: rgba(78, 255, 55, 0.733);
    --hover-color: rgba(243, 180, 243, 0.699);
}

.ca-wrapper {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 11px;
    box-shadow: 5px 5px 15px -3px var(--shadow-color);
}

.ca-image {
    border-radius: 100px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ca-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.ca-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    border-bottom: solid;
    border-color: var(--border-color);
    padding-bottom: 0.5em;
    margin-bottom: 5px;
}

.cryptoDetails {
    text-align: left;
    font-size: 13px;
}

@media screen and (max-width: 600px) {
    .cryptoDetails {
        font-size: 3vw;
    }
}

.crossIcon {
    width: 15px;
}

.crossCol {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    opacity: 80%;
}

.buttonModify:hover {
    color: var(--hover-color);
}

.loss {
    color: var(--loss-color);
}

.gain {
    color: var(--gain-color);
}
