.percentAnalysisDiv {
    padding: 2rem;
}

/* 
thead > tr:last-child {
    border-bottom-color: rgba(245, 245, 245, 0.767);
    border-bottom-width: 1px;
} */

.valueCell {
    background-color: #333;
    border: 1px solid transparent;
}

.textCell {
    border: 1px solid rgba(161, 154, 142, 0.466);
    background-color: #3c3c3c;
}

.a-msg {
    color: beige;
}
