.title{
    color:whitesmoke;
    font-weight: bold;
    border-bottom: solid;
    border-color: whitesmoke;
    border-width: 2px;
    border-radius: 10px;
}


.watchlistRow{
    margin-bottom: 15px;
}