.wl-wrapper{
    padding-top: 20px;
    height: 40vh;
}

.title{
    color:whitesmoke;
    font-weight: bold;
    border-bottom: solid;
    border-color: whitesmoke;
    border-width: 2px;
    border-radius: 10px;
}

.watchlistRow{
    margin-bottom: 15px;
}

.watchlistScroller{
    margin-top: 20px;
    border-right: solid;
    border-color:#6fc7dd1f;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
}